spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sagadb
    username: saga
    password: saga
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8081
logging:
  level:
    org.springframework: INFO

