spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sagadb
    username: saga
    password: saga
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: localhost:9092
server:
  port: 8083
logging:
  level:
    org.springframework: INFO

